/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  font-family: Verdana, sans-serif;
}
button {
  cursor: pointer;
  &.btn {
    padding: 15px;
    color: white;
    background-color: black;
    border: 1px black;
    border-radius: 3px;
    font-size: 15px;
    &.disabled {
      cursor: not-allowed;
    }
  }
}
